player-connection-mode=Listen
player-connection-guid=227266422
player-connection-debug=0
player-connection-project-name=Seedfall
player-connection-ip=192.168.50.124
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=0be265c9c43b489cbba96483475e5c78
